Header styles .sticky-header {
  position: sticky;
  top: 0;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.header h3 {
  margin: 0;
}

/* .cart {
  position: relative;
} */

.cart button {
  font-size: 24px;
  background: none;
  border: 1px solid #ccc;
  padding: 5px 10px;
  cursor: pointer;
}

.cart button i {
  margin-left: 5px;
}

.dropdown-menu {
  position: absolute;
  top: 74%;
  left: 1022px;
  list-style: none;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  width: 280px;
  border: 2px solid red;
  overflow-y: auto;
}

.CartContainer {
  width: 100%;
}

.row.mt-3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.col-7 img {
  width: 70px;
  margin-left: 5px;
}

.fa-trash {
  cursor: pointer;
  color: red;
}

.btn-sm.btn-warning {
  margin-top: 10px;
}

.fa-trash {
  cursor: pointer;
  color: red;
}
.btn-warning.text-light.mt-2 {
  background-color: red;
  color: #000;
  border: 1px solid red;
  border-radius: 5px;
  height: 35px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.btn-warning.text-light.mt-2:hover {
  background-color: red;
  color: #000;
}

.cartBtn {
  font-size: 24px;
  background-color: #4caf50;
  color: black;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  border: 2px solid black !important;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.cartBtn:hover {
  background-color: #45a049 !important;
  color: black;
}
